.Nav-Bar{
  height: 100%;
  width: 258px;

  border-right: 5px goldenrod solid;

  display: flex;
  position: fixed;
}

.Nav-BarSup{
  margin-top: 0px;
}

.Div-Sup{
  height: 130px;
  width: 250px;
}

.Div-Logo{
  height: 102px;
  width: 80px;

  display: flex;
  /* background-color: #58f830; */
}

#logo{
  height: 100%;
  width: 80px;

  background-image: url("../../../assets/img/Logo/logo.png");
  background-size: 100%;
  background-repeat: no-repeat;
  background-position-x: center;
  background-position-y: center;
  background-size: 100%;
}

#buscador{
  margin-left: auto;
  margin-right: auto;

  display: flex;
  position: fixed;
}

#busc{
  width: 200px;
}

#buscbtn{
  width: 70px;
}

.sup{
  margin-top: 240px;
}

.Title{
  margin-top: 15px;
  margin-left: 25px;
}


.Div-Inputs{
  margin-top: 80px;
  margin-left: 320px;

  display: flex;
  position: fixed;
}

#form1{
  width: 350px;
}

#form2{
  width: 120px;
}

.Inputs1{
  /* margin-top: 50px;
  margin-left: 300px; */

  display: flex;
  position: fixed;

}

#Inputs1_1{
  display: flex;
  position: fixed;
}

#Inputs1_2{
  margin-top: 50px;

  display: flex;
  position: fixed;
}

#Inputs1_3{
  margin-top: 100px;

  display: flex;
  position: fixed;
}

.Inputs2{
  margin-left: 460px;

  display: flex;
  position: fixed;
}

#Inputs2_1{
  display: flex;
  position: fixed;
}

#marg{
  margin-left: 12px;
}

#Inputs2_2{
  margin-top: 50px;

  display: flex;
  position: fixed;
}

#arms{
  margin-top: 230px;
  margin-left: 320px;

  display: flex;
  position: fixed;
}

#form3{
  width: 260px;
}

.Div-Inputs1{
  margin-top: 290px;
  margin-left: 320px;

  display: flex;
  position: fixed;
}

#Inputs1_4{
  display: flex;
  position: fixed;
}

#Inputs1_5{
  margin-top: 50px;

  display: flex;
  position: fixed;
}

#form4{
  width: 160px;
}

.Inputs3{
  margin-left: 310px;

  display: flex;
  position: fixed;
}

#Inputs2_3{
  display: flex;
  position: fixed;
}

#Inputs2_4{
  margin-top: 50px;
  margin-left: 43px;

  display: flex;
  position: fixed;
}

#form5{
  width: 240px;
}

#form6{
  width: 105px;
}

#marg1{
  margin-left: 20px;
}

#chaleco{
  margin-top: 390px;
  margin-left: 320px;

  display: flex;
  position: fixed;
}

.Div-Inputs2{
  margin-top: 450px;
  margin-left: 320px;

  display: flex;
  position: fixed;
}

#Inputs2_5{
  display: flex;
  position: fixed;
}

#form7{
  width: 80px;
}

#Inputs2_6{
  margin-top: 50px;
  margin-left: 80px;

  display: flex;
  position: fixed;
}

 /* .Footer{
  height: 40%;
  width: 100%;

  padding-top: 36px;
  padding-bottom: 36px;

  /* background-color: #82b0da; */
  /* background-color: #1A1A1A;
  border-top: 5px solid #c7a267;

} */

/* .input-group {
  position: relative;
 }

 .input {
  border: solid 1.5px #9e9e9e;
  border-radius: 1rem;
  background: none;
  padding: 1rem;
  font-size: 1rem;
  color: #f5f5f5;
  transition: border 150ms cubic-bezier(0.4,0,0.2,1);
 }

 .user-label {
  position: absolute;
  left: 15px;
  color: #e8e8e8;
  pointer-events: none;
  transform: translateY(1rem);
  transition: 150ms cubic-bezier(0.4,0,0.2,1);
 }

 .input:focus, input:valid {
  outline: none;
  border: 1.5px solid #1a73e8;
 }

 .input:focus ~ label, input:valid ~ label {
  transform: translateY(-50%) scale(0.8);
  background-color: #212121;
  padding: 0 .2em;
  color: #2196f3;
 } */
